@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cadastros de Produtos</h1>
    <div class="pull-left">
        <a asp-action="Create" class="btn btn-primary">
            <span title="Nova Categoria" class="fas fa-plus"></span> Adicionar Categoria
        </a>
        <a asp-action="Create" class="btn btn-primary">
            <span title="Novo Produto" class="fas fa-plus"></span> Adicionar Produto
        </a>
    </div>
</div>
